<div class="container">
    <div class=""row>
        <div class="col-md-6">
            <div class="card">
            <div class="text-center">
                <h1>Log in</h1>
                <!-- <h6>Register Yourself</h6> -->
            </div>
            <form>
               
                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="userObj.email" placeholder="Enter Email">
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>               
                
                <div class="mb-3">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password"[(ngModel)]="userObj.password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary" (click)="loginUser()">Login</button>
                <div>
                <a style="color: #ffff; margin-top:10px" routerLink="/signup">New User? click to sign up!!</a>
                </div>
                <div>
                    <a style="color: #ffff; margin-top:10px" routerLink="/forgotPassword">Forgot Password</a>
                    </div>
            </form>
        </div>
        </div>
    </div>
</div>


