<div class="container">
    <div class=""row>
        <div class="col-md-6">
            <div class="card">
            <div class="text-center">
                <h1>Forgot Password</h1>
                <!-- <h6>Register Yourself</h6> -->
            </div>
            <form>
               
                <div class="mb-3" *ngIf="this.emailVerication == 'false'">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" (blur)="verifyEmail()" [(ngModel)]="userObj.email" placeholder="Enter Email">
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>               
                
                <div class="mb-3" *ngIf="this.emailVerication == 'true'">
                    <label for="password">Enter New Password</label>
                    <input type="password" class="form-control" id="password" name="password"[(ngModel)]="userObj.password" placeholder="Password">
                </div>
            
                <button type="submit" class="btn btn-primary" [disabled]="this.emailVerication == 'false'" (click)="submit()">Submit</button>
               
            </form>
        </div>
        </div>
    </div>
</div>



